{% include 'inc/header.html' %}
<body>
    {% include 'inc/navbar.html' %}
    <form class="mgt-2 mgb-2" method="POST" enctype=multipart/form-data>
        <input type="file" name="image">
        <button type="submit">Send</button>
    </form>
    <div class="container-small">
        {% for i in range(len) %}
            <div class="item">
                <p id="pic-name">{{pictures[i][0]}}</p>
                <img src="data:image/png;base64,{{pictures[i][1]}}" width="300px";/>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>
