{% include 'inc/header.html' %}
<body>
    {% include 'inc/navbar.html' %}
    <div class="mgb-2"><i onclick="alert('tin tin tin tiiiiiin')"><img id="alert" src="{{ url_for('static', filename='images/treasure.png') }}" width="140"/></i><div>
    <p class="mgt-2 mgb-1"> Welcome Adventurer! </p>
    <p> I have created this website as a little introduction to test your analysis capacity. </p>
    <p class="mgb-1"> I have hidden a 6 part of the flag in this website where each part can be everywhere! </p>
    <p> Good luck! </p>
    <p style="color: #96CEB4"> Like here for exemple - Flag part 1: R2Lille{ </p>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
